img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:200px;
  height: 200px;
  animation: fadeinout 1.75s linear forwards;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

body {
  background-color: #1C1E20;
  -webkit-app-region: drag;
}

.background {
  background-color: #1C1E20;
}
body {
  user-select: none;
}

* {
  text-rendering: optimizeLegibility;
}