:root {
  --primary-bg-color: #1C1E20;
  --secondary-bg-color: #272B2E;
  --primary-text-color: white;
  --secondary-text-color: #9F9F9F;
  --rounding: 15px;
  --text-size: 1rem;
  --subtitle-text-size: 26px;
  --small-text-size: 14px;
}

#back-button {
  width: 50px;
  height: 50px;
}

#back-button::selection {
  color: none;
  background: none;
}

#back-button:hover {
  filter: brightness(80%);
}

body {
  background-color: var(--primary-bg-color);
  animation: fadein .25s linear forwards;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  user-select: none;
}